
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color:#141414;
    margin: 0;
    color:white;
}

hr {
    border: none;
    border-top: .07rem solid #eeeade;
    border-bottom: .3rem solid #eeeade;
    height: .6rem;
}

a > img {
    height: clamp(1.2rem, 0.8rem + 1vw, 2rem);
}

h3 + p {
    margin-top: -1em;
}

h2{
    color:#3F88C5 ;
    font-weight: bold;
}
h3{
    color:#E38664;
    
}
.container {
    width: 80%;
    padding: 2rem;
    margin: 0 10% 0 10%;
}

.grid-container {
    display: grid;
    grid-template: .3fr .5fr 1.1fr .4fr 0.2fr / 1fr 2fr 2fr;
    row-gap: 1rem;
    column-gap: 3.5rem;
    font-family: 'halcom', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
}

.profile-left {
    grid-row: span 5;
}

.hobbies {
    grid-column: span 2;
}

p > img {
    height: clamp(1.2rem, 0.8rem + 1vw, 2rem);
}

.footer {
    grid-column: span 3;
}
.footer > p{
    text-align: center;
}
.projects > a{
    color:#3F88C5;
}
.sticky-container {
    position: sticky;
    top: 1.25rem;
    align-self: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1.5rem;
}

.name-presentation {
    grid-column: span 2;
    font-family: "lust-stencil-display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
    color: #3F88C5 ;
}

.grid-table-1 {
    display: grid;
    grid-template: repeat(5,1fr) / 1fr auto;
    margin: 0;
}

.grid-table-2 {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr auto;
    margin: 0;
}

.grid-table-1 > p {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.grid-table-2 > p {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.hobbies > p {

    text-align: center;
    display: inline-block;
    margin: .5rem 2rem;
}

/* .links-container img{
    transition-delay: .2s;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
} */

#web {
    font-feature-settings:"calt";
    background-image: linear-gradient(180deg, #00FF00, #008000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#thin-line {
    border:none ;
    border-top: 0.03rem solid #eeeade;
    /* margin-left: 1vw; */
}

#profile-img {
    height: clamp(8rem, 6.4rem + 8vw, 16rem);
    border-radius: 50%;
    margin: 1.5rem 0 2rem 0;
    transition-delay: .25s;
    transition-duration: 1.25s;
    transition-timing-function: cubic-bezier(.3, 1.01, 0, -0.7);
}

#profile-img:hover {
    transform: scale(1.05);
}
.resume-button {
    cursor: pointer;
}



/* #linkedin:hover {
    filter: invert(.4)
            sepia(1)
            saturate(20)
            hue-rotate(194deg)
            brightness(.75);
}

#email:hover {
    filter: invert(.4)
            sepia(1)
            saturate(20)
            hue-rotate(173deg)
            brightness(1.1);
}

#github:hover {
    filter: invert(.4)
            sepia(1)
            saturate(20)
            hue-rotate(173deg)
            brightness(1.1);
} */


@media (min-width: 768px) and (max-width: 1200px) {
    .grid-container {
        grid-template: .5fr .5fr .75fr 1fr .65fr .25fr / 1fr 1fr;
    }
    .profile-left {
        grid-row: span 1;
        grid-column: span 2;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .links-container {
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: clamp(0.5rem, 0.15rem + 1.8vw, 1.5rem)
    }
    .sticky-container {
        position: inherit;
    }
    #profile-img {
        margin: 1rem 2rem 1rem 0;
    }
}

@media (max-width: 767px) {
    .grid-container {
        grid-template: repeat(8, auto) / auto;
    }
    .profile-left {
        grid-row: span 1;
        grid-column: span 1;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .links-container {
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: clamp(0.5rem, 0.15rem + 1.8vw, 1.5rem);
        flex-wrap: wrap;
    }
    .name-presentation {
        grid-column: span 1;
    }    
    .hobbies {
        grid-column: span 1;
    }
    .footer {
        grid-column: span 1;
    }
    .sticky-container {
        position: inherit;
    }
    #profile-img {
        margin: 1rem 2rem 1rem 0;
    }
}

